<% @groups.each do |g| %>
    <h3>
      <%= g.name %>
    </h3>
    <ul>
      <% g.exercises.each do |e|%>
        <h5>
          <%= link_to e.name, exercise_path(e) %>
        </h5>

      <% end %>
    </ul>

<% end %>