<% @muscle_groups.each do |group| %>
    <h3><strong><%= group.name %> :</strong></h3>
    <ul>
      <% group.exercises.each do |e| %>
        <li>
          <em>
            <%= e.name %>
          </em>
        </li>
      <% end %>
    </ul>
<% end %>
